.app {
    width: 100vw;
    // height: 100vh;
    padding: 0px;
}

.employees-list-add-form {
    padding-bottom: 10px;
}

.container {
    max-width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1280px) {
    .container {
        max-width: 700px;
        height: 100%;
    }
}

@media (max-width: 720px) {
    .container {
        max-width: 450px;
        // height: 100vh;

        h1 {
            font-size: calc(1.325rem + .1vw);
        }

        h2 {
            font-size: calc(1.1rem + .1vw);
        }

        input {
            font-size: .8rem;
        }

        button {
            max-width: 100%;
            font-size: 12px;
            height: 50%;
        }
    }

    .add-form {
        flex-direction: column;

        .form-control {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .employees-list {
        ul {
            li {
                height: 4rem;

                & input,
                span {
                    font-size: 14px;
                }

                input {
                    width: 27%;
                }

                span {
                    width: 33%;
                }

                div>* {
                    width: 1.6rem;
                    height: 1.6rem;
                }

                div {
                    width: 30%;
                    height: 100%;

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0;

                        i {
                            height: 30%;
                            transform: translateY(-50%);
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 320px;
        // height: 100%;

        h1 {
            font-size: calc(1.325rem + .1vw);
        }

        h2 {
            font-size: calc(1.1rem + .1vw);
        }

        input {
            font-size: .9rem;
        }

        button {
            max-width: 100%;
            font-size: 12px;
            height: 50%;
        }
    }

    .list-group-item {
        &>* {
            width: 40%;
        }

        &>span {
            font-size: 1rem;
            // color: #fff;
        }
    }

    .add-form {
        flex-direction: row;

        .form-control {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .employees-list {
        ul {
            li {
                height: 4rem;

                & input,
                span {
                    font-size: 14px;
                }

                input {
                    width: 27%;
                }

                span {
                    width: 33%;
                }

                div>* {
                    width: 2rem;
                    height: 1.4rem;
                }

                div {
                    width: 30%;
                    height: 100%;
                    button {
                        display: flex;
                        padding: 0;
                        width: 100%;

                        i {
                            height: 30%;
                            transform: translateY(-50%);
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}