.error {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    background-color: transparent;

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 20px;
    }
}